body, .btn {
    background-color: #000;
}
h1 {
    text-align: center;
}
h1, label, .btn {
    color: #fff;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
label, .btn {
    font-size: 1.1em;
    font-weight: 600;
}
#choice {
    width: 60px;
}
.btn {
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 10px;
}
#main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
}
#grid-container {
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    box-sizing: border-box;
    border: 1px solid #fff;
}